.progress-bar {
  width: var(--progress-width);
  transition: width 500ms ease-out;
}

.connect-progress {
  width: var(--progress-width);
  height: 100%;
  transition: all 500ms ease-out;
  background: linear-gradient(90deg, #9333EA 0%, #EC4899 100%);
}